# Print Formatting

In [2]:
#transforming the strings, works for numbers also

s = 'This is a string'
print('Print string here: %s' %(s))

x=100.01
print('Number is: %s' %(x))

Print string here: This is a string
Number is: 100.01

In [6]:
#transforming floating point numbers

'''first digit after % tells minimum number of digits to be shown
before decimal point and digits after decimal point tell how
much digits to show after decimal'''

print('Floating point number: %1.2f' %(123.13213))

Floating point number: 123.13

In [11]:
#inserts spaces if specified number of digits are not available in value
print('Floating number: %10.2f' %(12.123))

Floating number:      12.12

In [7]:
#convertng any python object to string
print('Convert number to string %s' %(12))

Convert number to string 12

In [8]:
#multiple object conversion ; same can be done through %r
print('First :%s, Second :%s, Third :%s' %(123,'Hello',123.55))

First :123, Second :Hello, Third :123.55

In [10]:
#alternate way
#x is any arbitrary variable
print('First :{x}, Second :{y}, Third :{x}'.format(x="hello",y="me"))

First :hello, Second :me, Third :hello